<div class="options">

    <div class="optionsdrawer" *ngIf="optionsService.ShowMenu === true">
        <button class="option" (click)="DevInfoButton()"> Show/Hide Dev Info </button>
        <button class="option" (click)="ResetUsername()"> Reset Username </button>
        <!-- <button> <strike>Toggle Animations</strike> </button>
        <button> <strike>Use local API</strike> </button> -->
    </div>

    <div class="ToggleMenuButton" (click)="ToggleMenu()">
        <a *ngIf="optionsService.ShowMenu === false">Options ></a>
        <a *ngIf="optionsService.ShowMenu === true">< Options</a>
    </div>

    <div class="arrow-right" (click)="ToggleMenu()"></div>

    <div class="spacer"></div>

    <div class="username">
        <div *ngIf="this.optionsService.UNSubmitted === false">
            Username: <input #UNInput (keyup.enter)="SubmitUNBtn(UNInput.value)"> <button class="submitUN" (click)="SubmitUNBtn(UNInput.value)">submit</button>
        </div>
        <div *ngIf="this.optionsService.UNSubmitted === true">
            Hi {{this.rpsgameService._username}}!
        </div>
    </div>

</div>