<div class="options">
Options: <button (click)="showhidebutton()"> Show/Hide Dev Info </button> 
</div

><div class="pagecontainer">

    <div class="title">
    <h1>Select your choice</h1>
    </div>

    <div class="selectcontainer">
        <div class="box" (click)="selectOption('rock')"><img class="img" src="../../assets/rock.png"></div>
        <div class="box" (click)="selectOption('paper')"><img class="img" src="../../assets/paper.png"></div>
        <div class="box" (click)="selectOption('scissors')"><img class="img" src="../../assets/scissors.png"></div>
    </div>

</div>

<div class="devinfo"  *ngIf="this.selectionService.showhideoptions === true" >

    <p>selection component</p>



</div>