* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    padding: 40px;
}

.pagecontainer {
    background-color: rgb(251, 247, 199);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.selectcontainer {
    padding: 50px;
    background-color: rgb(226, 218, 159);
    border-radius: 10px;
}

.box {
    width: 100px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: larger;
    font-weight: bold;
    vertical-align: middle;
    align-content: center;
    text-align: center;
    border-radius: 40px;
}

.boxselected {
    background-color: rgb(122, 224, 97, 0.5);
}

.img {
    height: 100%;
    width: 100%;
}

.button {
    margin: 50px;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid black;
    background-color: transparent;
    color: black;
    font-family: sans-serif;
    font-size: larger;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.LBList {
    width: 480px;
}

.ListTitles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.Listitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    list-style: none;
    background-color: rgb(251, 247, 199);
    margin-top: 11px;
}