<app-options></app-options>

<div class="pagecontainer">

    <div class="title">
        <h1>Leaderboard</h1>
    </div>

    <div class="selectcontainer">
        <div class="LBList">
            
            <div class="ListTitles">
                <div>Username</div>
                <div>Win Ratio</div>
                <div>Turns Played</div>
            </div>

            <div>

                <!-- how to show on a few items of a list -->
                <!-- https://stackoverflow.com/questions/37818677/how-can-i-limit-ngfor-repeat-to-some-number-of-items-in-angular -->

                <div *ngFor="let ListItem of leaderboardService.LeaderboardItem | slice:0:3;">

                    <div class="Listitem">
                        <div>{{ ListItem.username }}</div>
                        <div>{{ ListItem.winRatio }}</div>
                        <div>{{ ListItem.turnsPlayed}}</div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div>
        <button class="button" routerLink="selection"> Play Again </button>
    </div>

</div>

<app-dev-info></app-dev-info>