<app-options></app-options>

<div class="pagecontainer">

    <div class="title">
        <h1>Leaderboard</h1>
    </div>

    <div class="selectcontainer">
        <div class="LBList">
            
            <div class="ListTitles">
                <div>Username</div>
                <div>Win Ratio</div>
                <div>Turns Played</div>
            </div>

            <div>
                <ul *ngFor="let ListItem of leaderboardService.LeaderboardItem">

                    <li class="Listitem">
                        <div>{{ ListItem.username }}</div>
                        <div>{{ ListItem.winRatio }}</div>
                        <div>{{ ListItem.turnsPlayed}}</div>
                    </li>

                </ul>
            </div>

        </div>
    </div>

    <div>
        <button class="button" routerLink="selection"> Play Again </button>
    </div>

</div>

<app-dev-info></app-dev-info>