<app-options></app-options>

<div class="pagecontainer">

    <div class="title">
        <h1>Leaderboard</h1>
    </div>

    <div class="selectcontainer">
        <div class="LBList">
            <div class="ListTitles">
                <div>Username</div>
                <div>Win Ratio</div>
                <div>Turns Played</div>
            </div>
            <div class="Listitem">
                <div>{{rpsgameService._username}}</div>
                <div>{{rpsgameService._winRatio}}</div>
                <div>{{rpsgameService._turnsPlayed}}</div>
            </div>
            <div class="Listitem">
                <div>BobFrank</div>
                <div>50%</div>
                <div>300</div>
            </div>
            <div class="Listitem">
                <div>BobFrank</div>
                <div>10%</div>
                <div>230</div>
            </div>
        </div>
    </div>

    <div>
        <button class="button" routerLink="selection"> Play Again </button>
    </div>

</div>

<app-dev-info></app-dev-info>