

/* refer to selection.component.css */
/* refer to selection.component.css */
/* refer to selection.component.css */


/* *{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: gainsboro;
    height: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
        
}

.box{

    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
    background-color: black;
    
    }

.returnbutton{
    /* height: auto;
    width: auto; */
    /* padding: 5px;
    border-radius: 8px;
    border: 3px solid white;
    background-color: gainsboro;
    color: #ffffff;
    font-family: sans-serif;
    font-size: larger;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.devinfo{
    background-color: rgb(255, 149, 149);
    padding: 10px;
} */