<div class="devinfo">
    <div *ngIf="this.rpsgameService.showHideDevInfo === true">
    <p>result component</p>
        
        <a routerLink="/selection">move to selection</a> <br>
        <a routerLink="/result">move to result</a> <br>
        <a routerLink="/leaderboard">move to leaderboard</a>
        <h1>player selected: {{rpsgameService._playerselection}}</h1>
        <h1>AI selected: {{rpsgameService._cpuselection}}</h1>
        <h1>Result: {{rpsgameService._result}}</h1>
    </div>
</div>