<div class="devinfo">

    <div class="flexrow">
        <!-- <div class="arrow-right"></div> -->
        <div class="spacer"></div>
        <div class="arrow-left"></div>
        <div class="gamecode">Rounds: {{this.rpsgameService._currentRound}}/{{this.rpsgameService._maxRounds}}</div>
        <!-- <div class="gamecode">Game Code: XYZ123</div> -->
    </div>

    <div *ngIf="this.optionsService.showHideDevInfo === true">
        <a routerLink="/create">move to create</a> <br>
        <a routerLink="/selection">move to selection</a> <br>
        <a routerLink="/result">move to result</a> <br>
        <a routerLink="/leaderboard">move to leaderboard</a> <br><br>
        roundselection: {{rpsgameService._maxRounds}}<br>
        player selection: {{rpsgameService._playerselection}}<br>
        CPU Choice: {{rpsgameService._cpuselection}}<br>
        Result: {{rpsgameService._result}}<br>
        username: {{rpsgameService._username}}<br>
        turnsPlayed: {{rpsgameService._turnsPlayed}}
        
    </div>

</div>