<div class="devinfo">

    <div class="flexrow">
        <div class="gamecode">Game Code: {{this.rpsgameService._gameCode}}</div>
        <div class="arrow-right"></div>
        <div class="spacer"></div>
        <div class="arrow-left"></div>
        <div class="gamecode">Rounds: {{this.rpsgameService._currentRound}}/{{this.rpsgameService._maxRounds}}</div>
    </div>

    <div *ngIf="this.optionsService.showHideDevInfo === true">
        <b>Jump to route:</b> <br>
        <a routerLink="/create">create</a> <br>
        <a routerLink="/selection">selection</a> <br>
        <a routerLink="/result">result</a> <br>
        <a routerLink="/leaderboard">leaderboard</a> <br><br>

        <b>Variable values:</b> <br>
        Rounds: {{rpsgameService._maxRounds}}<br>
        Current Round: {{rpsgameService._currentRound}}<br>
        Player Selection: {{rpsgameService._playerselection}}<br>
        CPU Choice: {{rpsgameService._cpuselection}}<br>
        Result: {{rpsgameService._roundResult}}<br>
        Username: {{rpsgameService._username}}<br>
        Max Rounds Reached?: {{rpsgameService._maxRoundsReached }} <br>
        Game Code: {{rpsgameService._gameCode }} <br>
        
    </div>

</div>